[Unit]
After=syslog.target network.target niner-miners-server.service

[Service]
User=niner-miners
Group=niner-miners
ExecStart=/home/niner-miners/core/actions/tunnel
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=niner-miners-tunnel

[Install]
WantedBy=multi-user.target
